@import '~@react-md/transition/dist/mixins';

// just to make the transition suuuuuper visible
$duration: 5s;

.enter {
  @include rmd-transition(standard);

  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity $duration;
}

.exit {
  @include rmd-transition(standard);

  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity $duration;
}
